fastapi
uvicorn[standard]
sqlalchemy
streamlit
python-dotenv
PyYAML
langchain-core
langchain-groq
langchain-huggingface
chromadb
langchain-community
pandas
python-multipart
pypdf
sentence-transformers
