fastapi
uvicorn[standard]
sqlalchemy
sqlite3
streamlit
python-dotenv
PyYAML
uuid
langchain-core
langchain-groq
langchain-huggingface
langchain-document-loaders
langchain-embeddings
langchain-chains
langchain-llms
chromadb
langchain-community
pandas
